#!/bin/bash
# vim: syntax=sh

set -eufo pipefail

function brew_bundle() {
  echo "Run brew bundle..."
  brew bundle --no-lock --file={{ .brew.brewfilePath }}
}

function asdf_install() {
  echo "Installing software dependency versions via asdf..."
  while IFS= read -r plugin; do
    asdf plugin add "${plugin}" || true # ignore fail
    asdf install "${plugin}"
  done < <(cut -d " " -f1 < {{ .brew.toolVersionsPath }})

  asdf reshim
}
function update_theme() {
  echo "You can update syntax highliting theme by running:"
  echo "fast-theme XDG:catppuccin-mocha"
}

function install_gh_extensions() {
  echo "Installing gh extensions..."
  {{ $ghToken := .gh.token -}}
  {{ range .packages.gh.extensions -}}
  GH_TOKEN={{ $ghToken | quote }} gh extension install {{ . }}
  {{ end -}}
}

function install_xterm_kitty_terminfo() {
    # Attempt to get terminfo for xterm-kitty
    if ! infocmp xterm-kitty &>/dev/null; then
      echo "xterm-kitty terminfo not found. Installing..."
      # Create a temp file
      tempfile=$(mktemp)
      # Download the kitty.terminfo file
      # https://github.com/kovidgoyal/kitty/blob/master/terminfo/kitty.terminfo
      if curl -o "$tempfile" https://raw.githubusercontent.com/kovidgoyal/kitty/master/terminfo/kitty.terminfo; then
        echo "Downloaded kitty.terminfo successfully."
        # Compile and install the terminfo entry for my current user
        if tic -x -o ~/.terminfo "$tempfile"; then
          echo "xterm-kitty terminfo installed successfully."
        else
          echo "Failed to compile and install xterm-kitty terminfo."
        fi
      else
        echo "Failed to download kitty.terminfo."
      fi
      # Remove the temporary file
      rm "$tempfile"
    fi
  }

function main() {
  brew_bundle
  asdf_install
  install_gh_extensions
  install_xterm_kitty_terminfo
  update_theme
}

main
