#!/bin/bash
# vim: syntax=sh

set -eufo pipefail

function brew_bundle() {
  echo "Run brew bundle..."
  brew bundle --no-lock --file={{ .brew.brewfilePath }}
}

function asdf_install() {
  echo "Installing software dependency versions via asdf..."
  while IFS= read -r plugin; do
    asdf plugin add "${plugin}" || true # ignore fail
    asdf install "${plugin}"
  done < <(cut -d " " -f1 < {{ .brew.toolVersionsPath }})

  asdf reshim
}
function update_theme() {
  echo "You can update syntax highliting theme by running:"
  echo "fast-theme XDG:catppuccin-mocha"
}

function install_gh_extensions() {
  echo "Installing gh extensions..."
  {{ $ghToken := .gh.token -}}
  {{ range .packages.gh.extensions -}}
  GH_TOKEN={{ $ghToken | quote }} gh extension install {{ . }}
  {{ end -}}
}

function import_velja_settings() {
  echo "Importing Velja settings..."
  defaults import com.sindresorhus.Velja {{ .velja.veljaFilePath }}
}

function main() {
  brew_bundle
  asdf_install
  install_gh_extensions
  import_velja_settings
  update_theme
}

main
