#!/bin/bash

set -eufo pipefail

{{ $raycastEnabledCommands := joinPath .chezmoi.homeDir ".config" "raycast" "_enabled-scripts-commands" -}}
{{ $raycastCommandsSource := joinPath .chezmoi.homeDir ".config" "raycast" "scripts-commands" "commands" -}}

{{ $folders := list
  "apps/lungo"
  "apps/safari"
  "apps/sip"

  "conversions/change-case"

  "system/audio"
-}}

{{ $images := concat $folders (list
  "web-searches")
-}}


{{ $files := list
  "conversions/hex-to-rgb.sh"
  "conversions/hex-to-rgba.sh"
  "conversions/human-date-to-epoch.sh"

  "web-searches/caniuse.sh"
  "web-searches/giphy.sh"
  "web-searches/google-maps.sh"
  "web-searches/search-imdb.sh"
-}}

{{ range ($folders | sortAlpha | uniq) -}}
{{ $foldersSource := joinPath $raycastCommandsSource . -}}
{{ $foldersDestination := joinPath $raycastEnabledCommands -}}
for entry in $(find {{ $foldersSource }} -depth 1 -type file)
do
  cp $entry {{ $foldersDestination }}
done
echo "Copied raycast script commands from folder {{ . }}"
{{ end -}}


{{ range ($images | sortAlpha | uniq) -}}
{{ $imagesSource := joinPath $raycastCommandsSource . "images" -}}
{{ $imagesDestination := joinPath $raycastEnabledCommands "images" -}}
for entry in $(find {{ $imagesSource }} -depth 1 -type file)
do
  cp $entry {{ $imagesDestination }}
done
echo "Copied images from {{ . }}"
{{ end -}}

{{ range ($files | sortAlpha | uniq) -}}
{{ $filesSource := joinPath $raycastCommandsSource . -}}
{{ $filesDestination := joinPath $raycastEnabledCommands -}}
cp {{ $filesSource }} {{ $filesDestination }}
echo "Copied raycast script command file {{ . }}"
{{ end -}}