#!/bin/bash

set -eufo pipefail

{{ $dictionariesPath := joinPath .chezmoi.homeDir ".config" "spell" "dictionaries" -}}
{{ $vsCodeLtexPath := joinPath .chezmoi.homeDir "Library" "Application\\ Support" "Code" "User" "globalStorage" "valentjn.vscode-ltex" -}}

function main() {
  echo "Deletig {{ $vsCodeLtexPath }}"
  rm -rf {{ $vsCodeLtexPath }}
  echo "Creating symbolic link from {{ $dictionariesPath }} to {{ $vsCodeLtexPath }}"
  ln -s {{ $dictionariesPath }} {{ $vsCodeLtexPath }}
}

main
