# gem --version of 3.x (NOTE: Copy exactly with ID and Secret given below)
---
:backtrace: false
:bulk_threshold: 1000
:sources:
  - https://rubygems.org/
  - s3://{{ .gemrc.s3Source | trim }}/
:update_sources: true
:verbose: true
s3_source: 
  {{ .gemrc.s3Source | trim }}:
    id: {{ .gemrc.username | quote }}
    secret: {{ .gemrc.secret | quote }}
    region: {{ .gemrc.region | quote }}
    endpoint: {{ .gemrc.endpoint | quote }}
