[[ssh-keys]]
account = {{ .op.personal.accountName | quote }}
vault = {{ .op.personal.vaultName | quote }}

[[ssh-keys]]
account = {{ .op.work.accountName | quote }}
vault = {{ .op.work.vaultName | quote }}
