{{ range (gitHubKeys "miszo") -}}
{{   .Key }}
{{ end -}}
{{ if .isWork -}}
{{    onepasswordRead "op://Private/GitLab SSH key/public key" .opWorkAccount | trim }}
{{ end -}}
{{ if not .isWork -}}
{{    onepasswordRead "op://dev/WySe SSH key/public key" .opPersonalAccount | trim }}
{{ end -}}