Include /Users/miszo/.colima/ssh_config

Host *
  IdentityAgent "~/.1password/agent.sock"

Host {{ .ssh.homelab01.host | trim }}
  HostName {{ .ssh.homelab01.hostName | trim }}
  User {{ .ssh.homelab01.user | trim }}
  IdentityFile ~/.ssh/homelab01.pub
  IdentitiesOnly yes

Host {{ .ssh.homelab02.host | trim }}
  HostName {{ .ssh.homelab02.hostName | trim }}
  User {{ .ssh.homelab02.user | trim }}
  IdentityFile ~/.ssh/homelab02.pub
  IdentitiesOnly yes

Host {{ .ssh.unifi.host | trim }}
  HostName {{ .ssh.unifi.hostName | trim }}
  User {{ .ssh.unifi.user | trim }}
  IdentityFile ~/.ssh/unifi.pub
  IdentitiesOnly yes
