{{- if .computer.isWork }}
{{- onepasswordRead "op://Employee/persistent ssh/notesPlain" .op.work.accountCode -}}
{{ end }}

Include /Users/miszo/.colima/ssh_config

Include ~/.ssh/1Password/config

Host *
  IdentityAgent "~/.1password/agent.sock"

Host {{ .ssh.homelab01.host | trim }}
  HostName {{ .ssh.homelab01.hostName | trim }}

Host {{ .ssh.homelab02.host | trim }}
  HostName {{ .ssh.homelab02.hostName | trim }}

Host {{ .ssh.unifi.host | trim }}
  HostName {{ .ssh.unifi.hostName | trim }}
