{{- if lookPath "orbctl" }}
Include ~/.orbstack/ssh/config
{{- end }}

Host *
  IdentityAgent "~/.1password/agent.sock"

{{ if not .isWork -}}
Host wyse
  HostName {{ onepasswordRead "op://dev/WySe/hostname" .opPersonalAccount | trim }}
  User {{ onepasswordRead "op://dev/WySe/username" .opPersonalAccount | trim }}
  IdentityFile ~/.ssh/miszo_wyse.pub
  IdentitiesOnly yes
{{ end -}}