# frozen_string_literal: true

tap '1password/tap'
tap 'homebrew/bundle'
tap 'homebrew/cask'
tap 'homebrew/cask-fonts'
tap 'homebrew/core'
tap 'homebrew/services'

brew 'act'
brew 'asdf'
brew 'bat'
brew 'bison'
brew 'cloc'
brew 'exa'
brew 'fd'
brew 'fzf'
brew 'gh'
brew 'git'
brew 'gitleaks'
brew 'git-delta'
{{ if .isWork -}}
brew 'glab'
{{ end -}}
brew 'gnupg'
brew 'gnu-sed'
brew 'graphviz'
brew 'httpie'
brew 'imagemagick'
brew 'jesseduffield/lazydocker/lazydocker'
brew 'jesseduffield/lazygit/lazygit'
brew 'jless'
brew 'jq'
brew 'libpq'
brew 'mysql@5.7', restart_service: true
brew 'neofetch'
brew 'neovim'
brew 'postgresql@14', restart_service: true
brew 'pre-commit'
brew 'redis', restart_service: true
brew 'ripgrep'
brew 'thefuck'
brew 'trash'
brew 'z'
brew 'zlib'

cask '1password-cli'
cask 'calibre'
cask 'docker'
cask 'font-symbols-only-nerd-font'
cask 'keycastr'
cask 'orbstack'
