{{ onepasswordRead "op://dev/Brewfile/notesPlain" .op.personal.accountCode  }}

{{ if .computer.isWork -}}
{{ onepasswordRead "op://Employee/Brewfile/notesPlain" .op.work.accountCode -}}
{{- else -}}
{{ onepasswordRead "op://Employee/Brewfile_private/notesPlain" .op.personal.accountCode -}}
{{- end -}}


