{
	"account_id": {{ .gh.accountId | quote }},
	"entrypoint": [
		"gh"
	],
	"credentials": [
		{
			"plugin": "github",
			"credential_type": "personal_access_token",
			"vault_id": {{ .gh.vaultId | quote }},
			"item_id": {{ .gh.itemId | quote }}
		}
	]
}
