{
	"account_id": {{ .glab.accountId }},
	"entrypoint": [
		"glab"
	],
	"credentials": [
		{
			"plugin": "gitlab",
			"credential_type": "personal_access_token",
			"vault_id": {{ .glab.vaultId | quote }},
			"item_id": {{ .glab.itemId | quote }}
		}
	]
}
