{
	"account_id": {{ output (joinPath .chezmoi.workingTree "./scripts/get_op_account.sh") .opWorkAccount | trim }},
	"entrypoint": [
		"glab"
	],
	"credentials": [
		{
			"plugin": "gitlab",
			"credential_type": "personal_access_token",
			"vault_id": {{ output (joinPath .chezmoi.workingTree "./scripts/get_op_vault.sh") "Employee" .opWorkAccount | trim }},
			"item_id": {{ (onepassword "GitLab CLI token" "Employee" .opWorkAccount).id | quote }}
		}
	]
}
