[{"account_id":{{ output (joinPath .chezmoi.workingTree "./scripts/get_op_account.sh") .opWorkAccount | trim }},"vault_id":{{ output (joinPath .chezmoi.workingTree "./scripts/get_op_vault.sh") "Private" .opWorkAccount | trim }},"item_id":{{ (onepassword "GitLab CLI token" "Private" .opWorkAccount).id | quote }}}]